@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

* {
	box-sizing: border-box;
	transition: all ease-in-out 250ms;
	
}

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	background-image: url(../img/tot-bg.jpg);
	background-size: cover;
	background-position: center;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 95%;
	max-width: 80em;
	margin: 0 auto;
}

.clearfix::after,
section::after,
footer::after {
	content: '';
	display: block;
	clear: both;
}


/* Column system
=================== */

[class^=col-] {
	width: 100%;
	margin-top: 1em;
}

[class^=col-]:first-child {
	margin-top: 0;
}

.col-1 {
	width: 33.333334%;
	float: left;
}


@media (min-width: 40rem) {

	[class^=col-] {
		float: left;
		padding: 0 .5em;
		margin-top: 0;
	}

	[class^=col-]:first-child {
		padding-left: 0;
	}

	[class^=col-]:last-child {
		padding-right: 0;
	}

	.col-3 {
		width: 50%;
	}

	.col-1 {
		width: 16.6666%;
	}
}





/* typography
=================== */

h1 {
	font-weight: 300;
	font-size: 1.7rem;
	margin-top: 0;
}

p {
	margin-top: 0;
	line-height: 1.5;
}

p:last-of-type {
	margin-bottom: 0;
}

.title {
	font-size: 2.5rem;
	margin-bottom: 1.5em;
	font-weight: 900;
	margin-top: 1em;
}

.title span {
	font-weight: 300;
	display: block;
	font-size: .9em;
}

.title-cta {
	margin: 0 0 .5em;
}

.unstyled-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

@media (min-width:60rem) {

	p {
		font-size: 1.2rem;
		line-height: 1.6;
	}

	.title {
		font-size: 3.7rem;
	}
}

/* buttons */	

.button {
	display: inline-block;
	font-size: 1.15rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1.75em;
	background: #232323;
}

@media (min-width: 60rem) {
	.button {
		font-size: 1.5rem;
	}
}

.button-small {
	font-size: .7rem;
	font-weight: 700;
	cursor: pointer;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
} 
.button-accent {
	color: #6f14eb;
	border-color: #232323;
	background: #232323;
}

.button-accent:hover,
.button-accent:focus {
	background: #6f14eb;
	color: #232323;
}

.button-dark {
	color: #6c00ff;
	border-color: #232323;
}

.button-dark:hover,
.button-dark:focus {
	background: #6c00ff;
	color: #232323;
}

/* Parallax
=================== */

.parallax--bg,
.parallax--box {
	transition: initial;
}



/* header
=================== */

header {
	position: absolute;
	left: 0;
	right: 0;
	margin: 1em;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 1em;
}

nav a {
	font-weight: 900;
	text-decoration: none;
	padding: .5em;
	text-transform: uppercase;
	color: white;
	font-size: .8rem;
}

nav a:hover,
nav a:focus {
	color: #ddd;
}

	.social{
		float: left;
		padding: 0;
	}
	
	img.social{
		height: 2.5rem;
		width: 2.5rem;
		border-radius:16px;
}


@media (min-width:60rem) {
	.logo {
		float: left;
	}

	nav {
		float: right;
	}
	.social {
		float: left;
	}
}	
/* hero-home
=================== */

.home-hero {
	background-image: url(../img/hero-bg.jpg);
	background-size: cover;
	background-position: center;
	padding: 10em 0;
	color: #FFF;
}

@media (min-width: 60rem) {
	.home-hero {
		height: 100vh;
		padding-top: 35vh;
	}
}


/* hero-home
=================== */

.home-about-textbox {
	background-color: #232323;
	padding: 4em;
	width: 100vw;
	margin-left: -2.5%;
	outline: 2px solid #6c00ff;
	outline-offset: -2.5em;
	color: #FFF;
	position: relative;
}

.home-about-textbox h1 {
	color: #6c00ff;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: .75em;
	background: #232323;
	padding: 0 .145em;
}

a.know_us{
	font-weight: 700;
	text-decoration: none;
	padding: .5em;
	text-transform: uppercase;
	color: white;
	font-size: .9rem;
}

.know_us:hover,
.know_us:focus {
	color: #6c00ff;
}

@media (min-width: 25rem) {
	h1 {
		font-size: 2rem;
	}

	.home-about-textbox {
		padding: 5.5em;
	}

	.home-about-textbox h1 {
		top: .6em;
		padding: 0 .325em;
	}
}

@media (min-width: 60rem) {
	h1 {
		font-size: 2.5rem;
	}

	.home-about {
		background-image: url(../img/slider_1.jpg);
		background-repeat: no-repeat;
		padding-bottom: 10em;
		background-color:#9ce6ff;
	}

	.home-about-textbox {
		width: 50%;
		padding: 7em;
		outline-offset: -3.75em;
		margin-left: -2.5%;
		top: -5em;
		text-align: left;
		box-shadow: 0 0 4em 0 rgba(0,0,0,.3);
	}

	.home-about-textbox h1 {
		top: .75em;
		left: 6rem;
		transform: translateX(0);
	}


}



/* portfolio
=================== */

.container_services {
	width: 50%;
	max-width: 80em;
	/*margin: 0 auto;*/
}

.home-services {
	width: 50%;
		padding-bottom: 10em;
	}

.home-services-textbox {
	width: 50%;
	background-color: #232323;
	padding: 4em;
	width: 100vw;
	margin-left: -2.5%;
	outline: 2px solid #6c00ff;
	outline-offset: -3.5em;
	color: #FFF;
	position: relative;
}

.service-img {
  display: block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  padding: .5rem;
  float: left;
}

.home-services-textbox .service-img {
	color: #6c00ff;
	position: absolute;
	left: 15%;
	transform: translateX(-50%);
	top: .75em;
	background: #232323;
	padding: 0 .145em;
}

.parallax-services-bg,
.parallax-services-box {
	width: 38rem;
	transition: initial;
}
	
#services {
	color: #6f14eb;
}

.portfolio {
	margin: 3em 0 0;
}

.port-item {
	margin: 0;
	position: relative;
}

.port-item img {
	display: block;
}

.port-desc {
	position: absolute;
	z-index: 100;
	bottom: 0em;
	left: 0em;
	right: 0em;
	color: white;
	background: rgba(0,0,0,.6);
	padding-bottom: 2em;
	overflow: hidden;
}

.port-desc p {
	margin: 1em;
}
.port-services{
	cursor: pointer;
	border: none;
    text-align: left;
    outline: none;
    font-size: 2 rem;
	/*padding: 18px;*/
}

.active, .port-services:hover {
  background-color: #ccc;
}

.services-provided {
  padding: 1rem;
  position: relative;
  width: 30rem;
  height: 36rem;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #232323;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.services-provided:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  padding: 0.5em;
  font-size: .9em;
  position: absolute;
  text-align: center;
}

@media (min-width: 37rem) {
	.port-item {
		width: 40%;
		height: 70%;
		float: left;
	}
}

@media (min-width: 60rem) {
	.port-item {
		width: 50%;
		overflow: hidden;
	}

	.port-desc {
		transform: translateY(150%);
	}

	.port-item:hover .port-desc {
		transform: translateY(0%);
	}
}


/* CTA
=================== */

.cta {
	background-image: url(../img/tot-bg.jpg);
	background-size: cover;
	background-position: center;
	padding: 5em 0;
}


/* Footer
=================== */

footer {
	background: #232323;
	color: #fff;
	text-align: left;
	padding: 5em 0;
}
